html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-on-secondary);
  &.dark-mode {
    color-scheme: dark;
  }
}
